:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainGrey: #c9c7c7;
}

.text-blue {
  color: var(--mainBlue);
}
.bg-blue {
  background-color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}


a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Nunito', sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.btn {
  margin-right: .7rem;
}
.nav-link {
  font-size: 1.1rem;
}
.fa-hat-wizard {
  color: var(--mainWhite);
}
.cartBtn {
  background-color: var(--mainWhite) !important;
  border: 1px solid var(--mainDark) !important;
}

/*  */
.text-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 4%;
}

.card {
  border-color: transparent;
  transition: all 1s linear;
  padding-top: 1rem;
}

.card-footer {
  background-color: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  transition: all .2s linear;
}
.img-container:hover .card-img-top {
  transform: scale(1.2);
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
}

/* MODAL */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.modalBody {
  border-radius: 15px;
  padding-top: .5rem;
  text-align: center;
  background-color: var(--mainWhite);
  padding-bottom: 1rem;
}
.modalBody .img-fluid {
  margin-bottom: .5rem;
}
/* .continueShoppingBtn {
  background-color: var(--mainYellow);
} */


/* PRODUCT DETAILS */
.productDetails {
  margin-top: 3.5%;
}
/* .productDetails .productTitle {
  text-align: left;

} */

/*  CART */
.cartContainer p {
  padding-top: 1rem;
  font-size: 1.1rem;
}
.cartTitle {
  padding: 2.5% 0;
}


.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--mainYellow);
}

.subs {
  padding-top: 1.2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}
/* 404 */
.notFound img {
  margin: 0 auto;
}
.notFound p {
  padding-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
